<div id="projects">
    <div>Projects</div>
<div>
    <div class="grid grid-cols-[25%_75%] hover:bg-neutral-900 rounded-md px-2 py-6">
        <div>
          <div>
            <span class="text-sm">2025</span>
          </div>
          <div>
            <img
            class="w-5/6 rounded-md border-2"
            src="/project1.gif" alt="Food-recommend">
          </div>
        </div>
        <div class="grid gap-y-4">
          <div class="text-custom-accent">Food-recommend WebApp</div>
          <div>
            <div><i class="fa-brands fa-github hover:scale-125"></i></div>
          </div>
          <div class="text-sm">{{description1}}</div>
          <div class="flex gap-4 text-sm">
            <div class="bg-custom-base px-2 py-1 rounded-sm hover:text-custom-accent">React</div>
            <div class="bg-custom-base px-2 py-1 rounded-sm hover:text-custom-accent">FastApi</div>
            <div class="bg-custom-base px-2 py-1 rounded-sm hover:text-custom-accent">Tailwind</div>
            <div class="bg-custom-base px-2 py-1 rounded-sm hover:text-custom-accent">Vercal</div>
            <div class="bg-custom-base px-2 py-1 rounded-sm hover:bg-custom-accent">Railway</div>
          </div>
        </div>
      </div>
</div>


<div>
    <div class="grid grid-cols-[25%_75%]  hover:bg-neutral-900 rounded-md px-2 py-6">
        <div>
          <div>
            <span class="text-sm">2024</span>
          </div>
          <div>
            <img
            class="w-5/6  rounded-md border-2"
            src="/project2.gif" alt="personal web">
          </div>
        </div>
        <div class="grid gap-y-4">
          <div class="text-custom-accent">Personal Website</div>
          <div>
            <div><i class="fa-brands fa-github hover:scale-125"></i></div>
          </div>
          <div class="text-sm">{{description2}}</div>
          <div class="flex gap-4 text-sm">
            <div class="bg-custom-base px-2 py-1 rounded-sm hover:text-custom-accent">React</div>
            <div class="bg-custom-base px-2 py-1 rounded-sm hover:text-custom-accent">Typescript</div>
            <div class="bg-custom-base px-2 py-1 rounded-sm hover:text-custom-accent">Tailwind CSS</div>
          </div>
        </div>
      </div>
</div>


<div>
  <div class="grid grid-cols-[25%_75%]  hover:bg-neutral-900 rounded-md px-2 py-6">
      <div>
        <div>
          <span class="text-sm">2025</span>
        </div>
        <div>
          <img
          class="w-5/6  rounded-md border-2"
          src="/project3.gif" alt="personal web">
        </div>
      </div>
      <div class="grid gap-y-4">
        <div class="text-custom-accent">Portfolio Website</div>
        <div>
          <div><i class="fa-brands fa-github hover:scale-125"></i></div>
        </div>
        <div class="text-sm">{{description3}}</div>
        <div class="flex gap-4 text-sm">
          <div class="bg-custom-base px-2 py-1 rounded-sm hover:text-custom-accent">Angular</div>
          <div class="bg-custom-base px-2 py-1 rounded-sm hover:text-custom-accent">FontAwsome</div>
          <div class="bg-custom-base px-2 py-1 rounded-sm hover:text-custom-accent">Tailwind CSS</div>
        </div>
      </div>
    </div>
</div>

</div>
